<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/
xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %} | Base Video Arte</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="{{app.request.basepath}}css/style.css" />
	</head>

	<body>
		<div id="wrap" align="center">

			<div id="portadainicio"><img src="{{app.request.basepath}}/medios/iconos/portadainicio.jpg">
			</div>
			<div id="separador">
				<center>
					<img src="{{app.request.basepath}}/medios/iconos/separador.png" />
				</center>
			</div>
			<br />
			<a name="arriba"></a>
			<div id="menu" class="langs">
				<ul>
					<a href="{{ app.url_generator.generate('inicio') }}" class="opacy" 	style="padding-right:25px;">Inicio</a>
					<img src="{{app.request.basepath}}/medios/iconos/sep_menu.png" height="15">
					<a href="{{ app.url_generator.generate('obras') }}" class="opacy" style="padding-right:25px; 					padding-left: 25px;">Obras</a>
					<img src="{{app.request.basepath}}/medios/iconos/sep_menu.png" height="15">
					<a href="{{ app.url_generator.generate('personas') }}" class="opacy" style="padding-right:25px; 					padding-left: 25px;">Personas</a>
					<img src="{{app.request.basepath}}/medios/iconos/sep_menu.png" height="15">
					<a href="{{ app.url_generator.generate('eventos') }}" class="opacy" style="padding-right:25px; 					padding-left: 25px;">Eventos</a>
					<img src="{{app.request.basepath}}/medios/iconos/sep_menu.png" height="15">
					<a href="{{ app.url_generator.generate('busqueda') }}" class="opacy" style="padding-right:25px; 					padding-left: 25px;">Busqueda Avanzada</a>
					<img src="{{app.request.basepath}}/medios/iconos/sep_menu.png" height="15">
					<a href="{{ app.url_generator.generate('proyecto') }}" class="opacy" style="padding-right:25px; 					padding-left: 25px;">Equipo</a>
					<img src="{{app.request.basepath}}/medios/iconos/sep_menu.png" height="15">
					<a href="{{ app.url_generator.generate('contacto') }}" class="opacy" 					style="padding-left: 25px;">Contacto</a>
				</ul>
			</div>
			<div id="separador">
				<center>
					<img src="{{app.request.basepath}}/medios/iconos/separador.png" />
				</center>
			</div>
			<br />
			<a name="arriba"></a>
			<h2>{% block tituloSeccion %}{% endblock %}</h2>

			<div id="contenido">
				{% block contenido %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>