<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% set pagina_actual = pagina_actual|default('inicio') %}
{% set path = app.request.basepath %}
{% set uri = app.request.uri %}
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<!-- <base href="basevideoarte.com.ar/web/" /> -->
		<title>{% block title %}{% endblock %} | Base Video Arte</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="{{ esServer(path,uri) }}/css/style.css" />
		{% block css %}{% endblock %}
		{% block js %}{% endblock %}
	</head>

	<body>
		
		<div id="wrap" align="center">

			<div id="portadainicio"><img src="{{ esServer(path,uri) }}/medios/iconos/portadainicio.jpg" width="975">
			</div>
			<div id="sep_try" style="margin-left: 22px !important;">
			</div>
			
			<div id="menu" class="langs">
				<ul id="nav">
					<li style="padding-left: 20px;"><a href="{{ app.url_generator.generate('inicio') }}" {% if pagina_actual == 'inicio' %} class="actual"{% endif%} >Inicio</a></li>
					<li style="padding-left: 20px;"><a href="{{ app.url_generator.generate('obras') }}"  {% if pagina_actual == 'obras' %} class="actual"{% endif%}>Obras</a></li>
					<li style="padding-left: 20px;"><a href="{{ app.url_generator.generate('personas') }}" {% if pagina_actual == 'personas' %} class="actual"{% endif%} >Personas</a></li>
					
					<li style="padding-left: 20px;"><a href="{{ app.url_generator.generate('busqueda')}}"  {% if pagina_actual == 'busqueda' %} class="actual"{% endif%}  >Búsqueda Avanzada</a></li>
					<li style="padding-left: 20px;" ><a href="{{ app.url_generator.generate('equipo') }}" {% if pagina_actual == 'equipo' %} class="actual"{% endif%}>Equipo</a></li>		
				</ul>
			</div>			
			<div id="separador"></div>
			<a name="arriba"></a>
			<h2>{% block tituloSeccion %}{% endblock %}</h2>

			<div id="contenido">
				{% block contenido %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>