<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>{% block title %}{% endblock %} | Base Video Arte</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="{{app.request.basepath}}/css/style.css" />
	</head>

	<body>
		<div id="wrap" align="center">

			<div id="portadainicio"><img src="{{app.request.basepath}}/medios/iconos/portadainicio.jpg" width="975">
			</div>
			<div id="sep_try" style="margin-left: 22px !important;">
			</div>
			
			<div id="menu" class="langs">
				<ul id="nav">
					<li style="padding-left: 20px;"><a href="{{ app.url_generator.generate('inicio') }}">Inicio</a></li>
					<li><a href="{{ app.url_generator.generate('obras') }}">Obras</a></li>
					<li><a href="{{ app.url_generator.generate('personas') }}" class="actual">Personas</a></li>
					<li><a href="{{ app.url_generator.generate('eventos') }}">Eventos</a></li>
					<li><a href="{{ app.url_generator.generate('busqueda') }}">Búsqueda Avanzada</a></li>
					<li><a href="{{ app.url_generator.generate('proyecto') }}">Equipo</a></li>		
				</ul>
			</div>			
			<div id="separador"></div>
			<a name="arriba"></a>
			<h2>{% block tituloSeccion %}{% endblock %}</h2>

			<div id="contenido">
				{% block contenido %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>