 {% extends 'layout.twig.html' %}

{% block title %}Obras{% endblock %}

{% block contenido %}
   <li>
        <h3>{{obra.titulo}} , ({{obra.anho}})</h3>
        <p>{{obra.sinopsis}}</p>
        <p>{%if obra.getFoto != null %}{{obra.getFoto().descripcion}}{%endif%}</p>
        <p>
        	{% for artista in obra.artistas%}
        	 <a href="{{path('persona',{persona: artista.id}) }}" >{{artista.nombre}}</a>
        	{% endfor %}
        </p>
        
        
       
        
        
  </li>
   {% for medio in obra.getMediosByTipo('embebido') %}
       	{{ medio.archivo |raw }}
   {%endfor%}
  
{% endblock %}
