 {% extends 'layout.twig.html' %}
{% block title %}Personas{% endblock %}

{% block contenido %}

{% set paisActual = "" %}
{% set memPais = "" %}


{% set abc = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','Ñ','O','P','Q','R','S','T','U','V','W','X','Y','Z'] %}

	
	<div id="anclasordenalfabetico">
		{% for i in abc %}
		<a href="{{ path('personas',{filtro: 'abc', valor : i }) }}" class="ordenlinks" >{{ i }}</a>
		{% endfor %}
		<a href="{{ path('personas') }}" class="ordenlinks" >todos</a>
	</div>
	
	<div id="sep_try" style="margin-left: 22px !important;">
	</div>
	<div id="separador"> </div>
 
 <div id="containerart">
 	{% for persona in lista_personas %}
		<div id="filas">
			<h3 id="persona_nombre"><a href="{{path('persona',{persona: persona.id}) }}" > {{ persona.apellido|e }} {{ persona.nombre|e }}</a> </h3>
			<h2 id="persona_pais"><a href="{{ path('personas',{filtro: 'pais', valor : persona.pais.pais }) }}">{{persona.pais.pais}}</a></h2>
		</div>
	{% endfor %}	
</div>
		 
    
{% endblock %}

