 {% extends 'layout.html.twig' %}

{% block title %}Personas{% endblock %}

{% block contenido %}
    Listado de personas
    <ul>
        {% for persona in lista_personas %}
        <li><a href="{{path('persona',{persona: persona.id}) }}" >{{ persona.nombre|e }} {{ persona.apellido|e }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

