<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/
xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %} | Base Video Arte</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="css/general.css" />
		<script type="text/javascript" src="{{app.request.getBaseURL()|trim('index_dev.php')}}js/libs/jquery-1.5.2.min.js"></script>
		<script type="text/javascript" src="{{app.request.getBaseURL()|trim('index_dev.php')}}js/funciones.js"></script>

	</head>

	<body>
		<div id="web">
			<h1>Video Arte Latinoamericano</h1>

			<div id="menu">
				<ul>

					<li>
						<a href="{{ app.url_generator.generate('admin_nueva_persona') }}">Nueva Persona</a>
					</li>

				</ul>
			</div>

			<h2>{% block tituloSeccion %}{% endblock %}</h2>

			<div id="contenido">
				{% block contenido %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>