 {% extends 'layout.html.twig' %}

{% block title %}Artistas{% endblock %}

{% block contenido %}
    Listado de artistas
    <ul>
        {% for artista in lista_artistas %}
        <li><a href="{{path('artista',{id: artista.id}) }}" >{{ artista.nombre|e }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

