 {% extends 'layout.html.twig' %}

{% block title %}Artistas{% endblock %}

{% block contenido %}
    Listado de artistas
    <ul>
        {% for artista in lista_artistas %}
        <li>{{ artista.nombre|e }}</li>
    {% endfor %}
    </ul>
{% endblock %}

