 {% extends 'layout.html.twig' %}

{% block title %}Artistas{% endblock %}

{% block contenido %}
    Artista: {{ artista.nombre }} 
    
    <h3>Obras Realizadas</h3>
    <ul>
    {% for obra in artista.obras %}
        	<li>
        		<h4>{{obra.titulo}}</h4>
        		<p>{{obra.descripcion}}</p>
        		<a href="{{path('obra',{obra: obra.id}) }}"> ver mas</a>
        	</li>
    {% endfor %}
    </ul>
{% endblock %}
