 {% extends 'layout.html.twig' %}

{% block title %}Artistas{% endblock %}

{% block contenido %}
    Artista: {{ artista.nombre }} 
    
    <h3>Obras Realizadas</h3>
    <ul>
    {% for obra in artista.obras %}
        	<li>{{obra.titulo}}</li>
    {% endfor %}
    </ul>
{% endblock %}
