 {% extends 'layout.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block contenido %}
    <h2>{{evento.nombre}}</h2>
    <p>{{evento.info}}</p>
    
    <ul>
    {% for obra in evento.obras %}
    <li>{{ obra.titulo}} 
    
     de 
    </li>
    {% endfor %}
    </ul>
    
{% endblock %}
