 {% extends 'layout.html.twig' %}

{% block title %}Obras{% endblock %}

{% block contenido %}
         Listado de obras
     
    <ul>
        {% for obra in lista_obras %}
        <li> <a href="{{path('obra',{obra: obra.id}) }}" >{{ obra.titulo|e }}</a>, 
        {% for artista in obra.artistas%}
        <a href="{{path('artista',{id: artista.id}) }}" >{{artista.nombre}}</a>
    	 {% endfor %}
        </li>
        
    {% endfor %}
    </ul>
{% endblock %}

