body {
	font-size: 88%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	text-align: left;
	}
	
a {
	text-decoration: none;	
	}

p {
	margin: 0px;
	}
	
img {
	width: auto;
   max-width:100%;
   height: auto;
	}
	
.body {
	margin: 0 auto;
	width: 90%;
	}
	
.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0;
	}

/* MENU DE NAVEGACION */
	
.separadorMenu {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid rgb(238, 238, 238);
	display: block;
	float: left;
	}
	
.mainHeader nav {
	width: 100%;
	height: 30px;
	margin: 1% 0;
	}
	
.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
	width: 100%;
	}
	
.mainHeader nav ul li {
	float: left;
	display: inline;
	width: 16%;
	margin-bottom: 0.5%;
	}
	
ul {
	padding-left: 0;
	}
	
.mainHeader nav ul li a:link, .mainHeader nav a:visited {
	width: 100%;
	height: 22px;
	display: inline-block;
	padding: 4px 0;
	text-align: center;
	color:#FFFFFF;
	background-color:#2e2e2e;
	border-left:5px solid #2e2e2e;
	}
	
.mainHeader nav ul li a:hover {
	color: #FFFFFF;
	background-color: #b00000;
	}
	
.menuActual {
	color: #FFFFFF !important;
	background-color: #589738 !important; 
	border-left: 5px solid #2e2e2e !important; 
	}
	
/* CUERPO DE LA WEB */	
	
.mainContent {
	width: 100%;
	height: auto;
	margin: 10px 0 10px 0;
	text-align: justify;
	display: block;
	float: left;
	}
	
.inicio a:link, .inicio a:visited {
	color: #b00000;
	}
	
.inicio a:hover {
	color: #589738;
	}
	
/* FOOTER */
	
.mainFooter {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 2% 0;
	display: block;
	float: left;
	}
	
#bannerUntref {
	width: 7%;
	}

#bannerContinente {
	width: 26%;
	}	

#bannerBim {
	width: 10%;
	}