/*
Description: Investigación Base Video Arte UNTREF
Author: Juan Sebastian Faccio
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
*/

/*  CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,  
caption, tbody, tfoot, thead
		{
		margin: 0; 
		padding: 0; 
		border: 0; 
		outline: 0;
		font-size: 100%; 
		background: transparent;
		}
body
		{
		width: 1020px;
		height: auto;
		background: #FFFFFF; 
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		margin-left: auto;
		margin-right: auto;
		line-height: 1;
		}
ol, ul
		{list-style: none;}
blockquote, q
		{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after
		{
		content: '';	
		content: none;
		}
:focus	{outline: 0;}
ins		{text-decoration: none;}
del		{text-decoration: line-through;}
table
		{
		border-collapse: collapse;
		border-spacing: 0;
		}
* 
		{
		margin: 0;
		padding: 0;
		font: normal;
		outline: none;
		}
.clear
		{clear:both; overflow:hidden}
.line
		{repeat-x; height:2px;}
p
		{
		display: block;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-family: Arial, Helvetica, sans-serif;
		}

/* BaseVideoArte */

#portada
		{
		background: #FFFFFF no-repeat center;
		width: 1000px;
		height: 600px;
		position: relative;
		}
.langs
	  	{
		font-size: 16px;
		text-align: center;
		padding: 10px 0px 0px 0px;
		}
.langs a 
		{
		text-decoration: none;
		color: #000000;
		text-align: center;
		}
#wrap
		{
		width: 1000px;
		height: auto;
		margin: 0px;
		text-align: center;
		position: 50% 50%;
		}
	#portadainicio
			{
			width: 1000px;
			height: 122px;
			margin: 10px 0px 10px 0px;
			background-image: url('portadainicio.jpg');
			}
	#separador
		{
		width: 1000px;
		height: 10px;
		text-align: center;
		}

/* NAVEGACION */

	#menu
			{
			text-align: center;
			width: 1000px;
			height: 30px;
			margin: auto;
			}
	#anclasordenalfabetico
			{
			width: 1000px;
			height: 16px;
			margin: 0px;
			padding: 0px;
			}
		#anclasordenalfabetico a
			{
			font-size: 18px;
			}
		#anclasordenalfabetico a:hover {
			color:#b00000;
			}
	#nav	{
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		text-align: center;
		}
	#nav li {
		margin: 1px 4px 4px 4px;
		padding: 1px 4px 4px 4px;
		border: 0px;
		float: left;
		display: inline;
		}
	#nav li a {
		display:inline-block;
		width:140px;
		height:6px;
		padding:10px 0;
		text-decoration:none;
		text-align:center;
		font-size:13px;
		color:#FFFFFF;
		background-color:#2e2e2e;
		border-left:5px solid #2e2e2e;
		}
	a.actual {
		color:#FFFFFF !important;
		background-color:#589738 !important; 
		border-left:5px solid #2e2e2e !important; 
		}
	#nav li a:hover {
		color:#FFFFFF;
		background-color:#b00000;
		}

/* CONTENIDO PERSONAS */

	#containerart {
		width: 1000px;
		height: auto;
		margin: 20px 0px 0px 5px;
		float: left;
		display: block;
		}
	#filas {
		width: 240px;
		height: auto;
		text-align: left;
		margin: 0px 0px 20px 2px;
		float: left;
		display: block;
		}
		#filas h3
			{
			padding-bottom: 5px;
			padding-left: 16px;
			font-size: 16px;
			}
		#filas h3 a
			{
			text-decoration: none;
			color: #2e2e2e;
			}
		#filas h3 a:hover {
			color:#b00000;
			}
		#filas h2
			{
			padding-left: 16px;
			font-size: 14px;
			}
		#filas h2 a
			{
			text-decoration: none;
			color: #2e2e2e;
			}
		#filas h2 a:hover {
			color:#589738;
			}

/* CONTENIDO ARTISTAS */
		#header_artista
			{
			width: 1000px;
			height: 60px;
			margin: 0px;
			font-size: 30px;
			display: block;
			}
		#foto
			{
			width: 160px;
			height: 160px;
			margin: 0px;
			float: right !important;
			}
		#descripcion
			{
			width: 1000px;
			height: auto;
			margin: 0px;
			padding-left: 16px;
			display: block;
			}


/* EN CASO DE QUE NO HUBIERA LISTADOS DE MAS DE UNA LETRA, EL SIGUIENTE CÓDIGO NO ES NECESARIO */
		#cont2letras
			{
			width: 1000px;
			height: auto;
			margin: 0;
			float: left;
			display: block;
			}
		#containeranclas
			{
			width: 500px;
			height: auto;
			margin: 0px 0px 5px 0px;
			float: left;
			display: block;
			}
			.ordenlinks
				{
				padding-right:4px;
				font-size: 15px;
				text-decoration: none;
				color: #000000;
				text-align: center;
				}
			.ordenlinksar
				{
				padding-right:4px;
				font-size: 15px;
				text-decoration: none;
				color: #000000;
				text-align: center;
				color:#ae0300;
				}
		#containervolverarriba
			{
			width: 500px;
			height: auto;
			margin: 0px 0px 5px 0px;
			float: left;
			display: block;
			}